* {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    min-height: 5vh;
}

/*Header*/

.container>div {
    /*border: 1px solid rgb(0, 0, 0);*/
}

#headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
    border-bottom: dashed #374151 1.5px;
}

#mainHeader {
    display: flex;
    justify-content: space-between;
}

#mainHeader>div {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
}

#mainHeader>div>div {
    margin: 1.5vh;
    height: 2vh;
    border-radius: 8px;
    padding: 6px;
    color: #374151;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#mainHeader>div>div:hover {
    color: #0ea5e9;
    background-color: #e2e8f0;
}

#headerRightElements {
    justify-content: flex-end;

}

#mainHeader {
    grid-area: 1 / 2 / 1 / 9;
}

.fa-github {
    color: #fbbf24;
    font-size: 45px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

/*Sidebar*/

#sidebar {
    height: 100vh;
    width: 28vh;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow: scroll;
    align-content: flex-start;
    color: #9ca3af;
    background-color: #0f172a;
    /*OVERFLOW*/
}


#sidebar>div {
    width: 250px;
    height: 25px;
    font-size: 14px;
    margin-left: 2.5vw;
    margin-bottom: 7px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /*OVERFLOW*/
}

.icon {
    position: relative;
    margin-right: 5px;
}

#sidebar>div:hover {
    color: #f1f5f9;
}

#sidebar>div:first-child {
    height: 2%;
    margin-top: 25px;
    color: #f1f5f9;
}

#sidebar div:nth-child(2) {
    margin-left: 1.5vw;
    margin-top: 20px;
    font-weight: 600;
    font-size: 13px;
    margin-right: 40px;
}

#sidebar div:nth-child(2):hover {
    color: #9ca3af;
}

#sidebar div:nth-child(14) {
    margin-top: 20px;
    margin-left: 1.5vw;
    font-weight: 600;
    font-size: 13px;
    margin-right: 40px;
}

#sidebar div:nth-child(14):hover {
    color: #9ca3af;
}

#sidebar div:nth-child(27) {
    margin-top: 20px;
    margin-left: 1.5vw;
    font-weight: 600;
    font-size: 13px;
    margin-right: 40px;
}

#sidebar div:nth-child(27):hover {
    color: #9ca3af;
}

#sidebar div:nth-child(31) {
    margin-top: 20px;
    margin-left: 1.5vw;
    font-weight: 600;
    font-size: 13px;
    margin-right: 40px;
}

#sidebar div:nth-child(31):hover {
    color: #9ca3af;
}

/*MainContent*/

#mainContent {
    grid-area: 2 / 2 / 2 / 9;
    background-color: rgb(245, 248, 250);
}